/* Main page custom css */
.nav__search__button > p {
  padding-inline: 12px;
  font-size: 14px;
}
.nav__search__button > p:nth-child(-n + 2) {
  border-right: 1.5px solid #dddddd;
  font-weight: 500;
  color: #222222;
}
.user__menu > a {
  padding: 10px 16px;
  width: 100%;
  font-size: 14px;
  color: #222222;
  opacity: 0.9;
}
.user__menu > a:hover {
  background-color: #f3f3f3;
  transition: all 0.2s ease-in;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  accent-color: #222222;
}

/* Pop up css */
.placeholder-shrink::placeholder {
  transform: translate(4px, 0) scale(0.9);
  transition: transform 0.3s;
}

.placeholder-restore::placeholder {
  transform: translate(0, 0) scale(1);
  transition: transform 0.3s;
}
.popup__overlay {
  background-color: rgba(0, 0, 0, 0.36);
  /* backdrop-filter: blur(2px); */
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}
.popup__container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: slideIn 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
.popup__container__login {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: loginSlideIn 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    top: 13vh;
    opacity: 0;
  }
  100% {
    top: 10vh;
    opacity: 1;
  }
}
@keyframes loginSlideIn {
  0% {
    top: 19vh;
    opacity: 1;
  }
  100% {
    top: 19vh;
    opacity: 1;
  }
}

/* Profile page css */
.profile__container {
  align-self: stretch;
}
.profile__popup__container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: profileSlideIn 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
@keyframes profileSlideIn {
  0% {
    top: 35vh;
    opacity: 0.3;
  }
  100% {
    top: 19vh;
    opacity: 1;
  }
}
.profile__container {
  flex: 0 0 350px;
}
.profile__container__div {
  flex: 0 0 auto;
}
